<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="https://lh3.googleusercontent.com/ZnxSVld9PjziR-rYNWvve7-JHoV1yNufgSG1hNVcr4TAb_VrSAcc4N5XjCdoHTNg2NODPQS9ka8p5H17PbK8tSOQpHnVwUiou4opiI_eljf7aX9QjYU6lql2-iQqwvVXn8rhC9IXhqznhWPMvmJz3zzNvc62yMxg1TLNwJjL3WvCHrI76RKfcXGV86R2FMyTfl03XBhsnZCC7lWO87kZkhKuWNSn2Z6hdwtxnzM18FXx3iV7yS62nQBthMZFHs2RURMIplGpNGqGXA_H0F8UY3czASRMx3RxwrpoWHXYYg59zCl3OXDneWgTda7LdNWoQHt-8HxGfUZ1-SR8gw6CjZBddZImQcL9eKuHCQG97fQCvGGB0o5Ik093HnB7xGCDspQDoWTnIL00ogGtWFQvOINfW6-M3yKrprXsgC35jRBJmTIvIJn7f3K5CuWEfuokNe8EisswPX6HGKVoemFPgY7rykjYuv2b-xvVjg-nUIpFSUxP2vgVegBwx4d-jDqfcnf-xgUUzJitOE78_kyIOejD8GprKGOSI5Qg4UQFIJSRjhg6SEE2sI5YrcRwHibZuqEJLbcGWuOZMJDjCtPl7MpuuFaoDhGH2EcTTZx6zX80frNZ7LCRFa-zJgPRfidKwtiS2M53CK-VpKQjWZaym0GdbPelDP3z4A1vRyC2p0N8EEUr-wgXAP86ZrxfzjSEjFCa1qQWFp4YA_SJ77JCsg=s460-no?authuser=0"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Timothy Dohmen</h3>
      </div>

      <div class="text-center">dohmentim@yahoo.com</div>
      <div class="text-center">
        <a href="http://timdohmen.github.io">timdohmen.github.io</a>
      </div>
    </div>
  </div>
</div>